/*bottom navbar code starts here*/
.stickyBottomNav {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 5;
   background-color: 3333FF;
   color: white;
   text-align: center;
   height:11%;
   display:inline;
}
#navitems{
height:100%;
padding:0;
padding-top:3%;

}
#navitems li{
display:inline;
}


/*bookmark button css*/
#bookmarkbtn{
font-size:80%;
color:white;
border:none;
background:none;
}

/* map button css here*/
#mapbtn{
font-size:80%;
color:white;
border:none;
background:none;
}

/* home button css here*/
#homebtn{
font-size:80%;
color:white;
border:none;
background:none;

}

/* language button css here*/
#lang_bttn{
font-size:80%;
color:white;
border:none;
background:none;
}

/*language setting code here*/
#language_Setting{
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
opacity: 0.7;
}
/*navbar code ends here*/


/*this part is for nav level (label)*/
#label-setting{
    background-color: #3333FF;
    width:100%;
    padding-top:3%;
    text-align: center;
    color:white;
    padding-bottom:4.5%;
}
#label-setting > button{
       float: right;
    }

hr{
    padding:0%;
    margin:0%;
}

#img_Setting{
border-style:dotted;
 width:80%;
 height:auto;
}

img{
 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
 width:100%;
 height:80%;
}

#detail_table_Setting{

 display:inline;
 font-size:0.875em;
 height:450px;
 }

#Park_District,#Park_Access{
   padding-bottom:5%;
   background-color:#E2E5DE;
}

#Park_Name,#Park_Route{
    padding-bottom:5%;
    width:100%;
    background-color: #B2BEB5;
}
#bookbtn{
  height:5%;
  font-size:100%;
  color:white;
  border:none;
  background:none;
}

#bookmark_items{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#bookmark_items td, #bookmark_items th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bookmark_items tr:nth-child(even){
background-color: #f2f2f2;
}

#bookmark_items th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #5F5FFF;
  color: white;
}
